:root {

    /* ============= LIGHT THEME ============ */

    /* ==== BRAND ========= */

    --semantic-brand: var(--primary-900);
    --semantic-brand-hover: var(--primary-950);/*Generalmente es de un tono mas alto que el brand*/

    --semantic-brand-soft: var(--primary-200);
    --semantic-brand-soft-hover: var(--primary-350);

    /* ==== BACKGROUND ==== */

    --semantic-background: var(--white);/* Fondo de toda la aplicacion*/

    --semantic-surface: var(--gray-900);/*Fondo de mpdales, cards containers*/

    --semantic-background-muted: var(--primary-400);/*Zona secundarias, conmenos importancia*/

    --semantic-background-inverse: var(--black);

    /* ====TEXT==== */

    --semantic-text-primary: var(--gray-50);/* Color principal de lectura, titulos, textos base del documeto*/
    --semantic-text-secundary: var(--gray-200);/* Textos menos dominantes*/
    --semantic-text-muted: var(--gray-500);/*Texto desabilitado por ejemplo*/
    --semantic-text-inverse: var(--gray-500);/*Texto invertido*/

    /* ==== BORDER ==== */
    /* Para que al pasar mi hover estubera de el color verde y no gray */
    --semantic-border: var(--primary-900);/* Border principal de todooa lkos componentes*/
    --semantic-border-strong: var(--gray-700);/* Bordea más fuertes*/

    /* ==== FOCUS ==== */

    --semantic-focus-ring: var(--primary-700);
    --semantic-focus-border: var(--primary-500);

    /* ==== STATE ===== */

    --semantic-success: var(--primary-950);
    --semantic-warning: var(--tertiary-950);
    --semantic-error: var(--secundary-950);

    /* ====TYPOGRAPHY===== */

    --semantic-font-size-display: var(--fs-xxl);/* Texto de alto impacto, tecto protagonista, hero, nú,eros grandes*/
    --semantic-font-size-h1: var(--fs-lg);
    --semantic-font-size-h2: var(--fs-md);
    --semantic-font-size-h3: var(--fs-sm);
    --semantic-font-size-body: var(--fs-xs);
    --semantic-font-size-medium: var(--fs-xxs);
    --semantic-font-size-small: var(--fs-xxxs);
    --semantic-font-size-caption: var(--fs-xxxxs);/* Caption es texto auxiliar muy pequeño.*/

    /* ====== FONT WEIGHT ======= */

    --semantic-font-weigt-heading: var(--font-weight-bold);
    --semantic-font-weigt-body: var(--font-weight-regular);
    --semantic-font-weigt-label: var(--font-weight-regular);

    


}